<mat-toolbar color="primary"
             class="footer">
    <button mat-icon-button
            routerLink="/home">
        <mat-icon [ngClass]="{'selected': selected() === 'home'}">fact_check</mat-icon>
    </button>

    <button mat-fab
            color="primary"
            class="add"
            (click)="addCheckin()">
        <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button
            routerLink="/map">
        <mat-icon [ngClass]="{'selected': selected() === 'map'}">room</mat-icon>
    </button>
</mat-toolbar>
<app-checkin #c
             (saved)="checkinSaved()" />