<app-header title="Tipos de Checkin"
            back="/home" />

<mat-card class="card-center">
    <mat-card-content>
        <mat-list>
            @if (checkinTypes().length > 0) {
            @for (ct of checkinTypes(); track ct.id) {
            <mat-list-item>
                <span matListItemTitle>
                    <mat-icon>{{ct.icon}}</mat-icon>
                    {{ct.name}}
                </span>
                <span matListItemLine>
                    @if (ct.lastUsed) {
                    Último uso: {{ct.lastUsed}} -
                    }
                    Num: {{ct.num}}
                    <button mat-icon-button
                            class="edit-button"
                            (click)="editCheckinType(ct)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                            class="delete-button"
                            (click)="deleteCheckinType(ct)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </span>
            </mat-list-item>
            }
            }
            @else {
            <mat-list-item>
                <span matListItemTitle>Todavía no has creado ningún tipo de Checkin.</span>
            </mat-list-item>
            }
        </mat-list>
    </mat-card-content>
</mat-card>

<button mat-fab
        color="primary"
        class="fab-bottom-right"
        (click)="addNew()">
    <mat-icon>add</mat-icon>
</button>

<app-checkin-type (saved)="checkinTypeSaved()"
                  #ct />